<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Diff</title>
    <link rel="stylesheet" href="../css/index.css" />
</head>
<body>

    <h1>Coveo Organizations Diff</h1>
    <div>Diff results between <b><%-organization1%></b> and <b><%-organization2%></b>. Showing changes for <%-organization2%>.</div>
    <hr />
    <%- diffResultsItems %>

</body>
</html>
